#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 800px;
  height: 800px;
  /* background-color: #779556; */
}

#promotion-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#promotion-modal.hidden {
  display: none;
}

#promotion-modal > .modal-body {
  height: 300px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 400px);
  background-color: rgba(130, 130, 130, 0.8);
}

#promotion-modal > .modal-body > img {
  height: 125px;
  padding: 20px;
  border-radius: 25%;
}

#promotion-modal > .modal-body > img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
}
